@media all and (max-width: 1000px) {
	.grid_container_middle {
		display: grid;
		grid-template-areas: "b" "a";
		grid-template-columns: auto;
		height: auto;
	}

	.area_b {
		margin-left: 0;
	}

	.area_a {
		margin-top : 50px;
		margin-right: 0;
	}

	.grid_container_bottom {
		display: grid;
		grid-template-columns: auto auto;
		grid-column-gap: 5%;
		grid-row-gap: 20px;
	}

	.item1 {
		grid-row: 1;
	}
	
	.item3 {
		grid-row: 1;
		grid-column: 1;
	}

	.img_activite_haute {
		height: 290px;
	}
}