@font-face {
	font-family: 'Raleway';
	src : url('../Raleway/Raleway-VariableFont_wght.ttf') format('truetype');
}

@font-face {
	font-family: 'Raleway-italic';
	src : url('../Raleway/Raleway-Italic-VariableFont_wght.ttf') format('truetype');
}

body {
	font-family: 'Raleway';
	margin: 0;
}

h2 {
	font-size: 25px;
	margin-bottom: 0;
}

p {
	margin-top: 5px;
	font-size: 20px;
}

.top_page {
	margin-bottom: 40px;
}

button {
	background-color: #0065FC;
	color: white;
	border: none;
	padding: 15px 20px;
	font-size: 18px;
	font-weight: bold;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
}

#Filtres {
	margin-top: 20px;
	font-weight: bold;
	font-size: 18px;
}

.contour {
	margin-left: 2%;
	border-color: #F2F2F2;
	border-style: solid;
	border-radius: 50px;
	padding-top: 13px;
	padding-bottom: 13px;
	padding-right: 2%;
}

.fas {
	margin-right: 1%;
	background-color: #DEEBFF;
	color: #0065FC;
	padding: 15px;
	border-radius: 100%;
}

#info {
	margin-top: 40px;
	font-size: 18px;
}

.page_contain {
	margin-right: 2%;
	margin-left: 2%;
}

.grid_container_nav {
	display: grid;
	grid-template-columns: 65% auto;
	margin-top: 30px;
}

.grid_container_lien {
	display: grid;
	grid-template-columns: auto auto auto;
	padding-top: 20px;
	font-size: 20px;
}

.middle_page {
	margin-bottom: 50px;
}

.grid_container_middle {
	display: grid;
	grid-template-areas: "a b";
	grid-template-columns: 65% 35%;
}

.grid_item_middle {
	background-color: #F2F2F2;
	box-sizing: border-box;
	border-radius: 20px;
}

.area_a {
	grid-area: a;
	margin-right: 3%;
}

.area_b {
	grid-area: b;
	margin-left: 3%;
}

.grid_container_hebergement {
	display: grid;
	grid-template-columns: 33% 33% 33%;
	grid-column-gap: 1%;
	grid-row-gap: 10px;
	margin: 100px 5%;
	box-sizing: border-box;
}

.grid_item_hebergement {
	background-color: white;
	box-sizing: border-box;
	margin: 1%;
	border-radius: 20px;
	padding: 1%;
	box-shadow: 10px 10px 50px #9999996c;
}

.container_hebergement {
	box-sizing: border-box;
	display: grid;
	grid-template-rows: 62% auto;
	margin: 0;
	padding: 0;
	border-radius: inherit;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.item_hebergement_1 {
	border-radius: inherit;
	box-sizing: border-box;
	height: 160px;
	object-fit: cover;
	width: 100%;
	object-position: center;
}

.dispo_heb h3 {
	margin: 0;
	margin-top: 10px;
	font-size: 20px;
}

.dispo_heb p {
	margin: 0;
	margin-top: 5px;
	font-size: 15px;
}

.dispo_heb {
	box-sizing: border-box;
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: 80% auto;
}

.grid_container_populaire {
	display: grid;
	grid-template-columns: auto;
	grid-row-gap: 10px;
	margin-top: 100px;
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 10px;
}

.grid_item_populaire {
	background-color: white;
	box-sizing: border-box;
	margin: 1%;
	border-radius: 20px;
	padding: 1%;
	box-shadow: 10px 10px 50px #9999996c;
}

.grid_container_populaire_case {
	box-sizing: border-box;
	display: grid;
	grid-template-columns: 40% auto;
	margin: 0;
	padding: 0;
	border-radius: inherit;
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
}

.grid_item_populaire_case_1 {
	border-radius: inherit;
	box-sizing: border-box;
	object-fit: cover;
	object-position: center;
	height: 160px;
	width: 100%;
}

.grid_item_populaire_case_2 {
	padding-left: 8%;
}

.dispo_etoile h3 {
	margin: 0;
	margin-top: 10px;
	font-size: 20px;
}

.dispo_etoile p {
	margin: 0;
	margin-top: 5px;
	font-size: 15px;
}

.dispo_etoile {
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: 80% auto;
	height: 160px;
}

.grid_container_bottom {
	display: grid;
	grid-template-columns: auto auto auto auto;
	grid-column-gap: 5%;
	grid-row-gap: 20px;
}

.grid_item_bottom {
	display: grid;
	grid-template-rows: auto auto;
	grid-row-gap: 0;
	border-radius: 20px;
	box-shadow: 10px 10px 50px #9999996c;
}

.item1 {
	grid-row: 1 / 3;
}

.item3 {
	grid-row: 1 / 3;
	grid-column: 3 / 3;
}

.item_bas_activite {
	height: 60px;
	background-color: white;
	border-radius: inherit;
}

.item_bas_activite h3 {
	margin: 0;
	font-size: 20px;
	padding-top: 20px;
	padding-left: 5%;
}

.img_activite_haute {
	border-radius: inherit;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	box-sizing: border-box;
	object-fit: cover;
	object-position: center;
	height: 650px;
	width: 100%;
}

.img_activite_basse {
	border-radius: inherit;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	box-sizing: border-box;
	object-fit: cover;
	object-position: center;
	height: 290px;
	width: 100%;
}

footer {
	margin-top: 50px;
	background-color: #F2F2F2;
}

footer ul {
	list-style-type: none;
 	margin: 0;
 	padding: 0;
 	font-size: 20px;
}

footer li {
	padding-bottom: 10px;
}

.grid_container_footer {
	display: grid;
	grid-template-columns: auto auto auto;
}

.grid_item_footer {
	padding-left: 6%;
	padding-bottom: 30px;
}

#logo {
	height: 60px;
}

@media all and (max-width: 650px) {
	.grid_container_middle {
		display: grid;
		grid-template-areas: "b" "a";
		grid-template-columns: auto;
		height: auto;
	}

	.grid_container_hebergement {
		display: grid;
		grid-template-columns: auto;
		grid-row-gap: 10px;
		margin: 100px 5%;
	}

	.grid_container_bottom {
		display: grid;
		grid-template-columns: auto;
		grid-row-gap : 10px;
	}

	.area_a, .area_b{
		margin: 0;
	}

	.item1 {
		grid-row: 1;
	}
	
	.item3 {
		grid-row: 4;
		grid-column: 1;
	}

	.item5 {
		grid-row: 3;
	}

	.grid_container_footer {
		grid-template-columns: auto;
	}

} 