#ignore documentation
#Projet+*
#ignore les fichiers qui servent pas
Raleway/*.txt
#ignore les ecritures non nécessaires
Raleway/static/*
#ignore les fichiers de mac useless
.DS_Store
#ignore les autres fichiers de mac useless
img/.DS_Store
